# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml
config/*

# IDE files
.idea

# Composer
composer.lock

# Plugins
!src/Plugins/
src/Plugins/*
!src/Plugins/Core

# Test reports
src/Tests/reports/

# PHPDoc config
phpdoc.dist.xml

# extends
extends